<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Login Form -->
    <form [formGroup]="myFormValidation" (ngSubmit)="onLogin()">
     
      <input type="text" formControlName="login" [(ngModel)]="login" class="form-control" placeholder="login" [ngClass]="{ 'is-invalid': submitted && f.login.errors }">
      <div *ngIf="submitted && f.login.errors" class="invalid-feedback">
        <div *ngIf="f.login.errors.required">Login is required</div>
      </div>
      
      <input type="password" formControlName="password"  [(ngModel)]="password" class="form-control" placeholder="password"  [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
      <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
        <div *ngIf="f.password.errors.required">Password is required</div>
        <div *ngIf="f.password.errors.minlength">Password must be at least 4 characters</div>
    </div>

      <input type="submit" class="fadeIn fourth" value="Log In">
    
    </form>

    <div  [hidden]="errorLogin">
        Invalid username or password  
    </div>

    <!-- Remind Passowrd -->
    <div class="formFooter">
        Don't have an account?<a href="#"> Sign Up </a>
    </div>
    <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?!</a>
    </div>

  </div>
</div>